<h1>Tacos</h1>
<p>Let's eat delish tacos!</p>

<% tacos = ["Steak", "Chicken", "Shrimp", "Fish"] %>

<p>There are <%= tacos.count %> tacos</p>

<ul>
<% for taco in tacos %>
<li><%= taco %></li>
<% end %>
</ul>